
:root {
  --clr-1: #000;
  --clr-2: rgb(0, 102, 255);
}
::-webkit-scrollbar {
  display: none;
}
html, body {
  padding: 0;
  margin: 0;
  background-color: var(--clr-1);
  color: var(--clr-2);
  counter-reset: num;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
nav {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  bottom: -40px;
  background-color: #000;
  color: #fff;
  z-index: 10000;
  transform: rotate(-45deg);
  transform-origin: top left;
  transition: .4s;
}
nav:hover {
  transform: none;
}
nav:focus-within {
  transform: none;
}
.nav-burger {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 25%;
  height: 200px;
  transform: rotate(45deg);
  transform-origin: top left;
  transition: .2s;
  font-size: 28px;
  pointer-events: none;
}
nav:hover .nav-burger {
  opacity: 0;
}
nav:focus-within .nav-burger {
  opacity: 0;
}
nav > .nav-block > a {
  display: block;
  color: currentColor;
  text-decoration: none;
  padding: 6px;
  padding-left: 1em;
  padding-right: 1em;
}
h2 {
  font-family: 'Comforter', cursive;
}
.txt-block {
  margin-top: 40px;
  max-width: 480px;
}